<configuration scan="true" scanPeriod="30 seconds">
    <jmxConfigurator/>
    <contextName>mongo</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log.format}</Pattern>
        </layout>
        <param name="target" value="System.out"/>
    </appender>

    <appender name="STDOUT_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log.format}</Pattern>
        </layout>
        <param name="target" value="System.err"/>
    </appender>

    <appender name="SMTP" class="ch.qos.logback.classic.net.SMTPAppender">
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%relative%thread%mdc%level%class%msg</pattern>
        </layout>
        <From>inbox2017@gmail.com</From>
        <SMTPHost>192.168.0.247</SMTPHost>
        <Subject>LastEvent: %class - %msg</Subject>
        <To>inbox2017@gmail.com</To>
    </appender>

    <appender name="EXCEPTIONS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>throwable != null</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${mongo.root}/logs/exceptions/exceptions.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>10485760</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>

            <!-- save for 1 year -->
            <MaxHistory>365</MaxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log.format}</Pattern>
        </layout>
    </appender>


    <root level="${log.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </root>
</configuration>